body {
  background: #233047;
}

.container {
  max-width: 600px;
}

h1 {
  font-size: 2.2rem;
}
.time-icon{
  position: relative;
  top: -47px;
  border-radius: 50%;
}
.imageIcon{
  width: 40px;
}
.imgIcon {
  width: 40px;
}
.show {
  display: flex;
}
.remove {
  display: none;
}